@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The data supplied here is for general insights only.</br> Get in the work to learn more.</p>
<p>What they talkn' bout? 😶🥱</p>
