html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.card {
  background-color: #3293e3;
  border-radius: 4px;
  min-width: 400px;
  width: 600px;
  margin: 2% 2%;
  height: 100%;
  position: relative;
  padding: 34px;
  color: #444;
  /* cursor: pointer; */
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual separation */
}

.card:hover {
  transform: translateY(-10px);
  background-color: #52aef9;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line if they don't fit */
    gap: 16px; /* Adds space between cards */
    justify-content: center; /* Centers the cards horizontally */
    margin: 20px; /* Adds some margin around the container */
}

.canvas-container {
  background-color: aliceblue;
  border-radius: 4px;
  padding: 10px;
}